API_KEY=your_api_key_here
CSV_FILE_PATH=data/sample_transactions.csv

GCP_PROJECT_ID=your_gcp_project_id
GCS_BUCKET_NAME=your_bucket_name
BIGQUERY_DATASET=your_dataset_name
BIGQUERY_TABLE=your_table_name